!!! XML
!!!
%html
  %head
    %meta{"http-equiv" => 'X-UA-Compatible', :content => 'GROW UP'}
    %meta{:name => 'viewport', :content => 'width=850'}
    %title
      GusG.us
      = @renderable.title
    %link{:href => "/images/gusgus_icon.gif", :rel => "icon"}
    %link{:type => 'application/rss+xml', :href => url_to('/feed.xml'), :title => 'GusG.us', :rel => 'alternate'}
    = stylesheet_include 'reset-min'
    = stylesheet_include 'application'
  %body
    .container
      #header
        %a{:href => "http://gusg.us"}
          %img{:src => "/images/gus-logo.png"}
        %span.nav
          %a{:href => "/"} Home
          %a{:href => "/life"} Life
          %a{:href => "/work"} Work
          %a{:href => "/code"} Code
          %a{:href => "/code/ruby"} Ruby
          %a{:href => "/code/erlang"} Erlang
        %a{:href => "http://feeds.feedburner.com/gusgus", :rel => "alternate", :type => "application/rss+xml"}
          %img{:src => "http://www.feedburner.com/fb/images/pub/feed-icon16x16.png"}

      #articles
        = yield

    - if @renderable.commentable?
      #grumble
        .container
          %h4.count
          %ul
          %form.clear{:id => "new_comment"}
            %input{:type => "hidden", :name => "subject", :value => @renderable.title}
            %div
              %label Name:
              %input{:type => "text", :name => "anon_grumbler_name", :size => 52}
            %div
              %label Grumble:
              %textarea{:name => "body", :rows => 6, :cols => 50}
            %input{:type => "submit", :value => "Post comment"}
      
    .container
      #footer.clear
        &copy; 2007 -
        = Time.now.year
        Justin Knowlden,
        %span.email gus at gusg dot us
        %span.powered
          \- Powered by
          %a{:href => "http://sinatra.rubyforge.org/"} Sinatra
          ,
          %a{:href => "http://haml.hamptoncatlin.com/"} HAML
          ,
          %a{:href => "http://rubyforge.org/projects/syntaxi/"} Syntaxi
          , and me

    %a{:href => "http://github.com/jaknowlden"}
      %img#ribbon{:src => "http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", :alt => "Fork me on GitHub"}

    = javascript_include 'http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js'
    = javascript_include 'jquery-1.2.6.min'
    = javascript_include 'http://grumble.annealer.org/javascripts/grumbler/api.js'
    = javascript_include 'grumble_support'
