!!! XML

%rss{"version" => "2.0"}
  %channel
    %title GusG.us
    %description Riding the Long Bus
    %link= url_to('/')
    %pubDate= Time.now.to_s

    - @renderable.articles.each do |article|
      %item
        %title
          :escaped
            #{article.title}
        %description
          <![CDATA[
          :preserve
            #{article.render(:excerpt => true)}
          %a{:href => article.urn} Keep reading ...
          ]]>
        %pubDate= Time.now.to_s
        %link= url_to(article.urn)
        %guid= url_to(article.urn)
