!!! XML

%rss{"version" => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom"}
  %channel
    %atom:link{"href" => url_to("/feed.xml"), "rel" => "self", "type" => "application/rss+xml"}

    %title GusG.us
    %description Riding the Long Bus
    %link= url_to('/')
    %pubDate= rfc822

    - @renderable.articles.each do |article|
      %item
        %title
          :escaped
            #{article.title}
        %description
          <![CDATA[
          :preserve
            #{article.render(:excerpt => true)}
          %a{:href => article.urn} Keep reading ...
          ]]>
        %pubDate= rfc822
        %link= url_to(article.urn)
        %guid= url_to(article.urn)
